@import "@/styles/index.scss";

.Header {
  position: relative;
  z-index: 1;
  height: $header-height;
  width: 100vw;
  border-radius: 0 !important;
  box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.2) !important;
}