@import "@/styles/index.scss";

.Container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - $header-height);
}

.LogIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
  width: $left-panel-width;
  height: calc(100vh - $header-height);
  border-radius: 0 !important;
}

.Form {
  width: 100%;
  margin-top: 20px;
}

.BackgroundImage {
  background-image: url("../../assets/AuthBackground.jpg");
  flex: 1;
  // width: calc(100vw - $left-panel-width);
  // height: calc(100vh - $header-height);

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}