.AuthBackground {
  flex: 1; //Ocupara todo el espacio restante del flex box
  background-image: url("../../../assets/jpg/AuthBackground.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}