//https://colorhunt.co/palette/202040202060602080b030b0
$header-height: 64px;
$left-panel-width: 250px;
$auth-panel-width: 350px;
$notification-panel-width: 350px;

//Variables de profundidad

$left-drawer-depth: 5;
$header-depth: 10;
$notification-panel-depth: 20;
