//https://colorhunt.co/palette/202040202060602080b030b0
$header-height: 60px;
$left-panel-width: 350px;
$notification-panel-width: 350px;

//Variables de profundidad

$header-depth: 10;
$notification-panel-depth: 20;