.Link {
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.ButtonWhite {
  min-width: 40px !important;
  width: 40px;
  height: 40px;
  color: white !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.08) !important;
  }
}

/* --------------------------------------------------------- */
/* ---------- Anulo los estilos de autocompletado ---------- */
/* --------------------------------------------------------- */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: yellow;
    transition: background-color 5000s ease-in-out 0s; /* esta transición es un truco para "anular" el cambio de color de fondo */
}

/* Para otros navegadores que no son WebKit, si es necesario */
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus {
    color: inherit;
    background: inherit;
}