//https://colorhunt.co/palette/202040202060602080b030b0

//Variables de ancho y alto
$header-height: 64px;
$left-panel-width: 250px;
$auth-panel-width: 350px;
$notification-panel-width: 350px;
$scroll-bar-width: 10px;

//Variables de profundidad

$left-drawer-depth: 5;
$header-depth: 10;
$notification-panel-depth: 20;

//Colores
$font-color: white;
$font-color-gray: rgb(160, 160, 160);

$background: #082032;
$background-cards: #2C394B;
$background-controls: #222c3a;