@import "@/styles/index.scss";

.credit_card {
  height: 94px;
  border-radius: 15px !important;
  padding: auto !important;

  transition: box-shadow 0.3s ease; /* Transición suave de la sombra */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  background-color: #171717 !important;
  color: white !important;

  &:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
  }

  &_logo {
    height: 24px;
    margin-bottom: 2px;
  }

  &_number {
    font-size: 14px;
    letter-spacing: 2px;
  }
}