@import "@/styles/index.scss";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: $background-cards;

  .container {
    padding: 8px 16px;
  }

  .form {
    width: 330px;

    .input {
      &_numbers {
        margin-left: 5px;
      }
    }

    .button {
      margin-top: 8px;
    }
  }
}